<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <div class="principal">
        <div class="detalhes">
            <h1> <%= user.nome %></h1>
            <hr>
            <p>E-mail: <%= user.email %></p>
        </div>
    </div>
</body>
</html>