<header>
    <h1 id="nav-title">IFLIX</h1>
    <nav>
        <ul>
            <li><a href="/grupos">Grupos</a></li>
            <li><a href="user/login.html">LOGIN</a></li>
            <li><a href="/grupos/cadastrar">CADASTRAR</a></li>
        </ul>
    </nav>
</header>